<div class="card mt-3">
  <div class="card-body">
    <h4 class="card-title">Bio</h4>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Fusce risus mi, luctus id ligula nec, malesuada rhoncus tortor.
      Ut egestas mollis erat. Aliquam imperdiet nisi ac porttitor imperdiet.
      Etiam lacus lorem, euismod eu porttitor porttitor, accumsan eget risus.
      Etiam at diam id nunc aliquet interdum ut in sapien. Sed ultrices
      eleifend massa, eget mattis magna sollicitudin fringilla.
      Mauris ac venenatis nisi, ac semper eros. Vivamus in facilisis ipsum.
    </p>
  </div>
</div>
