<div class="card mt-3">
  <div class="row g-0">
    <div class="col-md-2">
      <%= image_tag "box.png", :size => "100x100" %>
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h2 class="card-title">User name</h2>
        <p class="card-text d-flex justify-content-end"><small class="text-muted">Number of posts: x</small></p>
      </div>
    </div>
  </div>
</div>
