<% 3.times do |i| %>
  <div class="card mt-3">
    <div class="card-body">
      <a href="index/posts/show">
        <h4 class="card-title">Post #<%= i + 1 %></h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus
          mi, luctus id ligula nec, malesuada rhoncus tortor. Ut egestas...
        </p>
        <p class="card-text d-flex justify-content-end"><small class="text-muted">Comments: x, Likes: y</small></p>
      </a>
    </div>
  </div>
<% end %>
