<div class="user-details">
  <%= render @user %>
  <%= render partial: "partials/bio"%>
  <ul>
    <% @user.return_last_three_posts.each do |post|%>
      <%= render partial: "posts/post", locals: {post: post} %>
    <% end %>
  </ul>
  <div class="a-btn">
    <%=link_to "See all posts", user_posts_path(@user.id), class:"see-all btn btn-primary justify-content-center align-self-center", type: 'submit' , id: "see_all_#{@user.id}"%>
  </div>
</div>