<div class="user-posts">
  <a href="/">
    <%= render partial: "partials/card" %>
  </a>
  <%= render partial: "partials/post_comments" %>
  <div class="a-btn">
    <button type="button" class="btn btn-secondary mt-3">Pagination</button>
  </div>
</div>