* {
  list-style: none;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

.navbar {
  padding-left: 5%;
  padding-right: 5%;
}

.success,
.error {
  border-radius: 5px;
  color: white;
  width: 30%;
}

.success {
  border: 2px solid green;
  background: green;
}

.error {
  border: 2px solid red;
  background: red;
}

.val {
  display: flex;
  justify-content: center;
  text-align-last: center;
}

.card {
  width: 100%;
}

.home,
.user-posts,
.post-details,
.user-details {
  padding: 5%;
}

.a-btn {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-form {
  padding: 10% 20%;
  height: 100vh;
}

.new-post {
  height: 100%;
}

.form {
  height: 90%;
}

.text {
  height: 40vh;
}
