* {
  list-style: none;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

.navbar {
  padding-left: 5%;
  padding-right: 5%;
}

.button_to {
  text-align: end;
}

.success,
.error,
.is-danger,
.is-link {
  border-radius: 5px;
  color: white;
  text-align: center;
}

.success,
.is-link {
  border: 2px solid rgb(0 128 0 / 0%);
  background: rgb(0 128 0 / 45%);
}

.error,
.is-danger {
  border: 2px solid #f000;
  background: rgb(255 0 0 / 29%);
}

.val {
  display: flex;
  justify-content: center;
  text-align-last: center;
}

.card {
  width: 100%;
}

.home,
.user-posts,
.post-details,
.user-details {
  padding: 5%;
}

.a-btn {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-form {
  padding: 10% 20%;
  height: 100vh;
}

.form {
  height: 90%;
}

.text {
  height: 40vh;
}
