* {
  list-style: none;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

.card {
  width: 100%;
}

.home,
.user-posts,
.post-details,
.user-details {
  padding: 5%;
}

.a-btn {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
